doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
        header.header 
            .container 
                .header__logo 
                    ol.header__ol      
                        li MENU
        main 
            section.section 
                .main 
                    img.main__img(src="../../svg/ok.svg", alt="img")
                    .main__photo 
                        img.main__image(src="../../svg/super.svg", alt="")
        footer.footer 
            .footer__logo 
                .footer__ol 
                    ol.footer__li 
                        li Scroll     