* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 30px;
    .header__logo {
        
        .header__ol{
            list-style-type: none;
            float: right;
            font-family: sans-serif;
            font-weight: 500;
        }
    }
}

.section{
    .main{
        .main__img {
            margin-left: 10%;
            margin-top: 2%;
        }
        .main__photo {
            .main__image {
                margin-left: 65%;
                margin-top: -2%;
            }
        }
    }
}

.footer {
    .footer__logo {
        .footer__ol {
            .footer__li {
                font-family: sans-serif;
                margin-left: 10%;
                list-style-type: none;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}